<?php
namespace app\conf;

class Connection
{
    static $param = array(
        "postgishost" => "127.0.0.1",
        "postgisdb" => "mapcentia",
        "postgisuser" => "gc2",
        "postgisport" => "5432",
        "postgispw" => "12345",
        "pgbouncer" => false,
    );
}
